body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #212121;
    color: #333;
    padding: 8px;
    background-image:url('a seamless dark-them.png');
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
    padding: 12px 24px;
    border-radius: 15px;
}

.logo {
    color: #e0e0e0;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 8px;
}

.nav-links li {
    position:relative;
}

.nav-links li a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-links li a:hover {
    color: #ffffff;
    background-color: #444;
    border-radius: 4px;
}


.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3a3a3a;
    min-width: 180px;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown li a {
    padding: 10px 14px;
    font-size: 14px;
    color: #e0e0e0;
    display: block;
}

.dropdown li a:hover {
    background-color: #555;
    color: #fff;
}

.nav-links li:hover .dropdown {
    display: block;
}

.content {
    padding: 40px;
    text-align: left;
}

.content h1,h2 {
    color: whitesmoke;
}

.content p {
    color: whitesmoke;
    font-size: large;
}